.colorPaletteWrapper-main {
  .colorPaletteWrapper {
    .colorPaletteBtn {
      height: 30px;
      padding-left: 30px;
      padding-right: 0;
      font-size: 11px;
      border: 1px solid #4527a4;
      border-radius: 2px;
      cursor: pointer;
      &:focus {
        outline: 1.4px solid #4527a4;
        border: none;
      }
      div {
        display: flex;
        align-items: center;
        padding:0 5px;
        background-color: #f6f7f7;
        height: inherit;
      }
    }
  }
}
