.bPl-token-field-main-wrapper .bPl-single-token-field-wrapper {
  width: inherit;
  position: relative;
  .bPl-token-field-dropdown-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    background: #fff;
    padding: 5px 5px;
    border: 1px solid #b3b3b3;
    border-top: none;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 1px 6px #e5e5e5;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 240px;
    z-index: 9999;
    .bPl-select-field-searchTerm-wrapper {
      display: flex;
      border: 1px solid #ccc;
      height: 25px;
      align-items: center;
      position: relative;
      padding:0;
      margin-bottom: 5px;
      overflow: hidden;
      &.active{
        outline:2px solid #4527a4;
      }
      .bPl-select-field-searchTerm {
        width: 100%;
        border: none;
        outline: none;
        color: #5a5a5a;
        &:focus{
          box-shadow: none;
          outline: none;
        }
      }
      svg{
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        height: 14px;
        fill: #aaaaaa;
      }
    }
    .bPl-token-field-dropdown-list {
      list-style: none;
      margin: 0;
      padding: 0;
      max-height: 200px;
      li {
        color: #444;
        cursor: pointer;
        /* background:linear-gradient(#5c3bc7 20%, #422c8d 50%, #422c8d 52%, #5c3bc7 100%); */
        padding: 5px 5px;
        margin-bottom: 2px;
        font-size: 14px;
      }
      li:hover:not(.bPl-select-field-searchTerm-wrapper) {
        color: #fff;
        background: linear-gradient(
          #5c3bc7 20%,
          #422c8d 50%,
          #422c8d 52%,
          #5c3bc7 100%
        );
      }
      .activeItemInList {
        color: #fff;
        background: linear-gradient(
          #5c3bc7 20%,
          #422c8d 50%,
          #422c8d 52%,
          #5c3bc7 100%
        );
      }
    }
  }

  .bPl-single-token-field {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    cursor: pointer;
    background: linear-gradient(#fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
    padding: 5px 10px;
    border-radius: 5px;
    /* border: 1px solid #e5e5e5; */
    border: 1px solid #b3b3b3;
    .bPl-token-field-value {
      color: #adadad;
      font-size: 14px;

    }
    .bPl-select-field-icons-wrapper{
      display: flex;
      align-items: center;
      gap: 5px;
      .bPl-xMark-icon,
      .bPl-arrow-icon {
        fill: #adadad;
        transition: all 0.2s ease-in-out;
        display: flex;
        svg {
          margin: 0;
        }
        &:hover {
          fill: #000;
        }
      }
    }
  }
  .activeField {
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
    background-image: linear-gradient(#eee 20%, #fff 80%);
  }
}
