.bPl-notice-container{
  background: #F7F7F7;
    padding: 30px;
    .bPl-notice{
    padding: 12px;
    background-color: #fff;
    border-left-style: solid;
    border-left-width: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    }
    .bPl-notice-info{
      border-color: #339fd4;
    }
    .bPl-notice-success{
      border-color: #46b450;
    }
    .bPl-notice-warning{
      border-color: #ffbc00;
    }
    .bPl-notice-danger{
      border-color: #dc3232;
    }
}