.bPl-subHeading-wrapper {
  .bPl-subHeading {
    font-size: 14px;
    font-weight: 700;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #23282d;
    background-color: #f7f7f7;
    border-top: 1px solid #eee;
    padding:17px 30px;
  }
}
