.color-group-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  .colorGroupWrapper-main {
    .colorGroupLabel{
      margin-bottom: 5px;
      text-transform: capitalize;
      font-size: 14px;
    }
  }
}
