.navBar-wrapper {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 40px;
  z-index: 999;
  .navbar-logo {
    h1 {
      font-size: 20px;
      font-weight: 600;
      color: white;
    }
  }
  .navBar-rightItems-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3px;
    .navBar-alertBox {
      color: #8a6d3b;
      background-color: #faebcc;
      font-size: 12px;
      padding: 5px 6px;
      border-radius: 3px;
    }
    .navbar-icon {
      svg {
        background: #2c2c2c;
        padding: 7px 9px;
        display: flex;
        border-radius: 3px;
        margin: 0;
        cursor: pointer;
        fill: #ababab;
        &:hover {
          fill: #cdcdcd;
          background-color: #444444;
        }
      }
    }
    .nav-form {
      display: flex;
      gap: 3px;
      input[type="text"] {
        width: 180px;
        background: #323232;
        border: none;
        border-radius: 3px;
        &::placeholder {
          color: #949494;
        }
      }
      .nav-submitBtn {
        background-color: #2271b1;
        border-color: #2271b1;
        padding: 6px 17px;
        border: none;
        font-size: 13px;
        color: white;
        border-radius: 3px;
        cursor: pointer;
        &:hover {
          background-color: #135e96;
          border-color: #135e96;
        }
      }
    }
    .reset-sectionBtn {
      font-size: 13px;
      padding: 6px 8px;
      border: none;
      border-radius: 2px;
      color: #2271b1;
      cursor: pointer;
      font-weight: 400;
      &:hover {
        background-color: #d3d3d3;
        color: #1a1a1a;
      }
    }
    .resetAll-btn {
      font-size: 13px;
      padding: 6px 8px;
      border: none;
      border-radius: 2px;
      color: #fff;
      background-color: #dc3545;
      cursor: pointer;
      font-weight: 400;
      &:hover {
        background-color: #bd2130;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .navBar-wrapper {
    justify-content: center;
    .navbar-logo {
      h1 {
        text-align: center;
      }
    }
    .navBar-rightItems-wrapper {
      justify-content: center;
      .nav-form {
        input[type="text"] {
          min-height: 0px;
          height: 28px;
        }
      }
      .navbar-icon {
        display: none;
      }
      .reset-sectionBtn {
        display: none;
      }
    }
  }
}
.navBar-wrapper.stickyNav {
  position: -webkit-sticky;
  position: sticky;
  top:30px;
  background-color: black;
  box-shadow: 0px 2px 2px 0px #101014;
}
